h2 {
	font-size: .9em;
	font-weight: bold;
	margin: 0 0 0 20px;
}

p {
	margin: 10px 20px 10px 20px;
}

div#footer {
	margin-top: 20px;
}

ul.navigation2 {
	text-align: center;
}
ul.navigation2 li {
	display: inline;
	color: #222222;
	font-size: .75em;
	font-weight: bold;
	padding: 3px 4px 2px 4px;
}
ul.navigation2 li#youarehere {
	font-size: 2em;
}

ul.navigation2 li a:link,
ul.navigation2 li a:visited {
	color: #999;
	text-decoration: none;
}
ul.navigation2 li a:hover {
	color: black;
	text-decoration: none;
}


div.timelineentry {
	height: 450px;
	overflow: auto;
}
span.timelineentry2 {
	position: relative;
	top: 7%;
	width:31%;
	height: 85%;
	float: left;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-right: 1%;
	margin-left: 1%;
}

span.timelineentry2 a:link {
	color: #0088ff;
	background: #ddeeee;
	font-size: .75em;
	text-decoration: none;
	border: 1px solid #99ccff;
}
span.timelineentry2 a:active {
	background: #aaccff;
	text-decoration: none;	
	border: 1px solid #99bbff;
}
span.timelineentry2 a:visited {
	color: #9e1d1d;
	background: #ded4d4;
	text-decoration: none;
	border: 1px solid #98a8a8;
}

